@font-face {
  font-family: "Grotesk";
  src: url("../assets/fonts/FoundersGrotesk-Semibold.woff2") format("woff2"),
    url("../assets/fonts/FoundersGrotesk-Semibold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue";
  src: url("../assets/fonts/NeueMontreal-Regular.woff2") format("woff2"),
    url("../assets/fonts/NeueMontreal-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
