@import "fonts";
@import "variables";
@import "mixin";
@import "navbar";
@import "landing";
@import "marquee";
@import "loader";
@import "about";
@import "eye";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Neue";
  color: $zinc;
}

body {
  background-color: #004d43;
  scrollbar-width: none;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  overflow: hidden;
  width: 100%;
}